@import '../styles/modules/main.css';
@import '../styles/modules/jemdoc.css';
@import '../styles/modules/_img.css';
@import 'normalize.css';
@import 'modules/_site-header.css';
@import 'modules/_wrapper.css';
@import 'modules/_footer.css';
@import 'modules/_site-footer.css';
@import 'modules/_large-hero.css';



body {
    color: #333;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto
}

/* define of variable */

:root {
  --mainBlue: #1C6EA4;
  --mainBlack: #001A1A;
  --mainDarkwhite: #F2F3F4;
}