#SITE_FOOTERinlineContent {
    height: auto;
    width: 100%;
    position: relative;
}

#SITE_FOOTERinlineContent-gridWrapper {
    pointer-events: none;
}

#SITE_FOOTERinlineContent-gridContainer {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100%;
}

#comp-iv0yzwle {
    position: relative;
    margin: auto;
    text-align: center;
    justify-self: auto;

}

#comp-iv0ykw0w {
    position: relative;
    margin: auto;

    justify-self: start;
    align-self: start;
}

#SITE_FOOTERcenteredContent {
    position: relative;
}

#SITE_FOOTERinlineContent-gridContainer > * {
    pointer-events: auto;
}

#SITE_FOOTERinlineContent-gridContainer > [id$="-rotated-wrapper"] {
    pointer-events: none;
}

#SITE_FOOTERinlineContent-gridContainer > [id$="-rotated-wrapper"] > * {
    pointer-events: auto;
}