.generic-content-container{
    p {
        line-height: 1.24;
        margin: 0 0 1.8rem 0rem;

        @mixin atSmall{
            font-size: 1.125rem;
        }
    }    

    p a {
        font-weight: 500;

    }
}
