.headline{
    color:var(--MainBlue);
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--mainBlue);    
    @mixin atSmall{
        font-size: 2.2rem;    
    }

}

.headline--centered{
    text-align: center;
}

.headline--orange{
    color: var(--mainOrange)
}

.headline--small{
    font-size: 1.2rem;
    @mixin atSmall{
        font-size: 1.875rem;    
    }
}

.headline--narrow{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.headline--light{
    font-weight: 100;
}

.headline--b-margin-small{
    margin-bottom: .5rem;
}

.headline--b-margin-large{
    margin-bottom   :1.5rem;

}

.headline--no-t-margin{
    margin-top: 0;    
}