.img{
    max-width: 100%;
    max-height: 100%;
    position: relative;

    &__title {
        border-image-width: 0px 2px 2px 5px;
        

    }
}

.img__right {
    margin-left: 5px;
}

.img__center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}