.page-section{
    position: relative;

    padding: 1.2rem ;
    @mixin atMedium{
        padding: 4.5rem 0;
    
    }

    &__testimonials{
        color: black;
        background-color: #e0e6ef;
        @mixin atMedium{
            background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
            background-size: cover;    
        }

    }

}

.page-section--blue{
    padding: 4.5rem 0;
    background-color: var(--mainBlue);
}

.page-section__ee_head {
    position: relative;
    padding: 1.2rem ;
    @mixin atMedium{
        padding: 1rem 0;
    
    }

}