.primary-nav {

    &__pull-right {
        @mixin atMedium{
            float: right;   
        }
         
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
      list-style: none;
      display: inline-block;
      padding-right: 7px;

      @mixin atMedium{
        float: left;  
        display: block;
      }
    }

    li:last-child{
        padding-right: 0;
        @mixin atMedium{
            padding-right: 20px;
        }
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: 400;
        padding: 5px 8px;
        font-size: 0.8rem;
    }

    @mixin atMedium{
        padding: 5px;
        font-size: 1rem;
    }

}