.row{
    @mixin clearfix;
    box-sizing: border-box;

}

.row__title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 300;
    color: var(--mainBlack);
    margin-left: 18px;
    margin-bottom: 10px;
    font-size: 2.8rem;
}

.row__background_darkwhite {
    padding-top: 15px;
    background-color: var(--mainDarkwhite);
    padding-bottom: 30px;

}
.row__background_white {
    padding-top: 15px;
 
    padding-bottom: 30px;
}
    
.row__background_blue {
    padding-top: 15px;
    background-color: #e8f7ff;
    padding-bottom: 30px;
}

.row__background_gray {
    padding-top: 15px;
    background-color: #dae8f0;
    padding-bottom: 30px;
}

.row__medium-4{

    margin: 5% 5%;
 

    @mixin atMedium{
        margin: 0 0;
        float:left;
        width: 33%;
    }

}

.row__medium-8{
    @mixin atMedium{
        float:left;
        width: 60%;
    }
}

.row--gutters{
    margin-right: -65px;
}

.row--gutters-large{
    margin-right: -100px
}

.row--gutters-large > div{
    padding-right:100px;

}

.row--gutters > div{
    padding-right:65px;

}

.row__medium-6 {
    @mixin atMedium {
        float: left;
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;;

    }
}

.row--equal-height-at-medium{
    @mixin atMedium{
      display: flex;  
    }
    & > div {
        float: none;
        display: flex;
    }
        
}
