.row{
    @mixin clearfix;
    box-sizing: border-box

}

.row__medium-4{
    @mixin atMedium{
        float:left;
        width: 33%;
    }

}

.row__medium-8{
    @mixin atMedium{
        float:left;
        width: 65%;
    }
}

.row--gutters{
    margin-right: -65px;
}

.row--gutters-large{
    margin-right: -100px
}

.row--gutters-large > div{
    padding-right:100px;

}

.row--gutters > div{
    padding-right:65px;

}

.row__medium-6 {
    @mixin atMedium {
        float: left;
        width: 50%;

    }
}

.row--equal-height-at-medium{
    @mixin atMedium{
      display: flex;  
    }
    & > div {
        float: none;
        display: flex;
    }
        
}
