.site-footer{
    position: relative;
    background-color:white;
    color: white;
    padding: .3rem 0 .3rem;

    &__text{
        display: block;
        margin-bottom: 0.5rem;

        @mixin atMedium {
            display: inline;
            margin-bottom: 0;
            margin-right: 1.4rem;
        }

    }
}