.site-header{
    position: fixed;
    width: 100%;
    z-index: 1 ;
    height: 40px;
    transition: background-color .3s ease-out;
    background-color: var(--mainDarkwhite);

    &--is-expanded{
        background-color: var(--mainDarkwhite) ;
    }
    
    @mixin atMedium{
        background-color: var(--mainDarkwhite);
    }

    &__title {
        font-family: "Comic Sans MS", cursive, sans-serif;
        
        position: relative;
        float: left;
        font-size: 2rem;
        left: 10%;
        right: 90%;

        font-style: Times;
        color:var(--mainBlack);

    }

    &__btn-container {
        float: none;
        opacity: 0;
        
        @mixin atMedium {
            opacity: 1;
            float: right;
        }
    }

    &__logo{
        position:absolute;
        width: 36px;
        height: 36px;
        top: 0;
        left: 30px;
        right: auto;
        
        transform: translateX(-50%);
 
        padding: 2px 5px 2px 5px;

        @mixin atMedium{
          left: 40px;
          transform:translateX(0)  
        }

    }    

    &__menu-content{
        top: 3px;
        opacity: 0;
        transition: opacity .3s ease-out;
        position: relative;
        z-index: -10;
        padding-top: 5px;
        text-emphasis: center;
        float: right;

        @mixin atMedium{
            opacity: 1;
            z-index: 1;
            display: block;  
            padding-top: 0;
        }

        &--is-visible {
            opacity: 1;
            z-index: 1;
        }
    }

    &__menu-icon{
        width: 20px;
        height: 19px;

        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: var(--mainBlack);
            transform-origin: 0 0;
            transition: transform .3s ease-out;
            
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color:var(--mainBlack);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color:var(--mainBlack);
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        @mixin atMedium{
            display: none;
        }
        

    }   
    
    &__menu-icon--close-x{
        
        &::before {
            transform: rotate(45deg) scale(1.2);    
        }

        &::after {
            transform: rotate(-45deg) scale(1.2) translateX(-2px);
        }

        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0)
        }

    }

}   